.html{
    background-color: #f5f5f5 !important;
}

.form{
    margin-top: 10vh;
}

.note
{
    text-align: center;
    height: 80px;
    background-image: linear-gradient(-90deg, #21bd7f,#1bec99);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    padding: 15px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background-image: linear-gradient(90deg, #21bd7f,#1bec99);
    color: #fff;
    float: right;
}

.badInputField{
    border: 1px solid #ff2222 !important;
}

.errormessage{
    color: #ff2222;
}